@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu+Mono&display=swap');

* {
    font-family: Montserrat;
}

nav {
    list-style: none;
    padding: 0;
    background: #092320;
    max-width: 1200px;
    margin: auto;
}

nav li a{
    text-decoration: none;
    color: rgb(48, 196, 216);
    padding: 10px;
    display: block;
}

nav li {
    display: inline-block;
    text-align: center;
}

nav li a:hover {
    background: rgb(80, 62, 29);
}

div div{
    float: left;
    width: 600px;
    margin-left: 500px;
    background-color: rgb(172, 224,249);
    padding: 10px;
    font-size: 20px;
}
div img {
    float: auto;
    width: 300px;
    margin-left: 150px;
    background-color: rgb(172, 224,249);
}

ul#list {
    float: auto;
    margin-left: 600px;
    font-size: 20px;
}

div#works {
    text-align: center
}

div#ti {
    font-size: 40px;
    text-align: center;
}
p#titulo {
    font-size: 40px;
    text-align: center;
}
p#tiserv {
    font-size: 40px;
    text-align: center;
}
p#habili {
    font-size: 40px;
    text-align: center;
}

div#ref {
    font-size: 40px;
    text-align: center;
    background-color:rgb(172, 224,249);
    margin-left: 600px;
    margin-bottom: 600px;
}

p#Contactti {
    float: auto;
    font-size: 40px;
    text-align: center;
}
p#correo {
    float: auto;
    font-size: 30px;
    text-align: center;
    color: blue;
}

div#cont {
    background-color: rgb(172, 224,249);
}